project:
  type: website

website:
  title: "Lucas Kook"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - publications.qmd
      - software.qmd
      - talks.qmd
      - cv.qmd
      - contact.qmd

format:
  html:
    theme:
      light: flatly
      dark: darkly
    css: styles.css
    toc: true

editor: source

